
<div class="container">
    <div class="login-box">
        <img src="assets/images/logo.png" alt="Logo" class="avatar">
    
        <h1 class="heading">Login</h1>
        <form action="#">
            <p>Username</p>
            <input type="text" required name="username" placeholder="Enter username here">
            <p>Password</p>
            <input type="password" name="password" required placeholder="Enter Password here">
            <input type="submit" name="submit" value="Login">
           <a href="#" class="pwd">Forget Password</a>
        </form>
        </div>
        </div>
    